.b9{
    font-weight: 900;
}
.b6{
    font-weight: 600;
}
.c{
    text-align: center;
}
.indent1{
    padding-left: 10%;
}
.indent2{
    padding-left: 20%;
}
.abs{
    position: absolute;
}
.b{
    display: block;
}
.ib{
    display: inline-block;
}
.sb2{
    margin-top: 2vh;
}
.sb3{
    margin-top: 3vh;
}
.sb5{
    margin-top: 5vh;
}
.sb8{
    margin-top: 8vh;
}
.fl{
    float: left;
}
.mw{
}
.f{
    width: 100%;
    height: 100%;
}

/* md */
@media (min-width: 992px) {
    .fs1{
        font-size: 2.5vw;
    }
    .fs2{
        font-size: 1.66vw;
    }
    .fs3{
        font-size: 1.33vw;
    }
    .fs4{
        font-size: 1.2vw;
    }
    .fs5{
        font-size: 1vw;
    }
    .fs6{
        font-size: 0.9vw;
    }
}

/* sm */
@media (max-width: 992px) {
    .fs1{
        font-size: 3.5vw;
    }
    .fs2{
        font-size: 3vw;
    }
    .fs3{
        font-size: 2.5vw;
    }
    .fs4{
        font-size: 2.2vw;
    }
    .fs5{
        font-size: 1.8vw;
    }
    .fs6{
        font-size: 1.5vw;
    }
    .smallScreenHide{
        display: none;
    }
}

/* xs */
@media (max-width: 769px) {

}

/*for smart phones*/
@media (max-aspect-ratio: 1/1){
    .sb2{
        margin-top: 2vw;
    }
    .sb3{
        margin-top: 3vw;
    }
    .sb5{
        margin-top: 5vw;
    }
    .sb8{
        margin-top: 8vw;
    }
}