@Charset "UTF-8";

/**
 * Created by hubert lin2 on 2016/9/7.
 */

html,body{
    font-family: serif, 微軟正黑體 !important;
    position: relative;
    overflow:hidden;
}
img{

    user-select: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;

    -webkit-user-drag: none !important;
    -khtml-user-drag: none !important;
    -moz-user-drag: none !important;
    -o-user-drag: none !important;
    user-drag: none !important;
}
body{
    margin-top: 70px;
}

.preload{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.navbar{
    background-color: black;
    height: 70px;
}
#brand{
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 30px;
}
#brand:hover{
    color: orange;
}
#myNavbar{
    background-color: black;
}
.navItem{
    padding: 0;
    margin: 0;
    line-height: 20px;
    font-size: 20px;
    height: 70px;
    cursor: pointer;
    color: white;
    transition-delay: .05s;
    transition-duration: .4s;
}
.navItem a{
    padding: 25px 20px !important;
}
#brand a{
    padding: 20px 30px !important;
}
.hyperLink, .hyperLink:hover, .hyperLink:active, .hyperLink:visited, .hyperLink:focus{
    text-decoration: none !important;
}
a{
    position: inherit !important;
    color: inherit !important;
    margin:0 !important;
    background-color: transparent !important;
    z-index: 1 !important;
    display: block !important;
    outline: none !important;
}
.iconLink{
    padding: 19px 0.7vw;
    height: 70px;
    min-width: 32px;
    line-height: 32px;
}
.iconLink img{
    background-color: white;
    transition-delay: .05s;
    transition-duration: .4s;
}
.iconLink:hover img{
    background-color: orange;
    transition-delay: .05s;
    transition-duration: .4s;
}
.navbar-right{
    float: right;
}

.contact{
    line-height: 14px;
    font-size: 14px;
}
.navItem:hover{
    color: green;
}
#drop_down_button{
    margin-top: 18.125px;
    position: absolute;
    top:0;
    right: 0;
}


.goToBtn{
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    color:white;
    cursor: pointer;
    text-decoration: none !important;
    transition-duration: .4s;

    height:6vh;
    width:6vh;
    border: 0.6vh white solid;
    margin:-2vh auto 0;
    font-size: 2vh;
}
.goToBtn:before{
    transition-duration: .7s;
    display: block;
    margin: auto;
    z-index: 2;
}
#goTopBtn:hover:before, #goTopBtn:active:before{
    color: #2b2b2b;
    transform: translateY(-2vh);
}
.goToBtn:hover, .goToBtn:active{
    height:9vh;
    width:9vh;
    margin:-3vh auto 0;
    background-color: white;
    border: 1.5vh #2b2b2b double;
}

#footer{
    margin-top: 10vh;
    background-color: #2E2E2E;
    color: white;
    font-weight: 900;
    padding: 8vh 0 2vh;
    text-align: center;
    border-bottom: black 30px solid;
    font-size: 1.5vh;
}

/* md */
@media (min-width: 992px) {
    #brand{
        margin-left: -15px;
    }
    .container{
        width: 90%;
    }
}

/* sm */
@media (max-width: 992px) {
    #footer{
        padding: 8vw 0 2vw;
        margin-top: 6vw;
        font-size: 1.5vw;
    }
}

/* xs */
@media (max-width: 767px) {
    .iconLink{
        padding: 19px 2vw;
    }
}

/*for smart phones*/
@media (max-aspect-ratio: 1/1){
    .goToBtn{
        height:6vw;
        width:6vw;
        border: 0.6vw white solid;
        margin:-2vw auto 0;
        font-size: 2vw;
    }
    #goTopBtn:hover:before, #goTopBtn:active:before {
        transform: translateY(-2vw);
    }
    .goToBtn:hover, .goToBtn:active{
        height:9vw;
        width:9vw;
        margin:-3vw auto 0;
        border: 2vw #2b2b2b double;
    }
}