:root {
	--face-color: #fefc00;

    --text-color:#ddd;
	--caption-color: #ddd;
	--link-color: #ddd;
	--visited-link-color: #ddd;
	--fg-color: #ddd;
	--bg-color: #222;

	--text-color-inv:#000;
	--caption-color-inv: #000;
	--link-color-inv: #000;
	--visited-link-color-inv: #000;
	--fg-color-inv: #222;
	--bg-color-inv: #ddd;
}

H1, H2, H3, H4, H5, H6 {
	color: var(--text-color);
}
P, A, SUP, .paragraph-text {
	color: var(--text-color);
}

H1.inverse, H2.inverse, H3.inverse, H4.inverse, H5.inverse, H6.inverse {
	color: var(--text-color-inv);
}
P.inverse, A.inverse, SUP.inverse {
	color: var(--text-color-inv);
}

.face-color {
	color: var(--face-color);
}

TABLE {
	VERTICAL-ALIGN: top; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}

BODY {
	FONT-SIZE: small; COLOR: black; FONT-FAMILY: Georgia, "New Century Schoolbook", Times, serif; BACKGROUND-COLOR: var(--bg-color)
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	MARGIN-TOP: 12px; FONT-WEIGHT: normal; MARGIN-BOTTOM: 0px
}
H3 {
	MARGIN-TOP: 6px; FONT-SIZE: small; MARGIN-BOTTOM: 0px
}
P, .paragraph-text {
	MARGIN-TOP: 0px; font-size: 17px
}


A {
	FONT-WEIGHT: bolder; TEXT-DECORATION: none
}
A:link {
	COLOR: var(--link-color);
}
A:visited {
	COLOR: var(--visited-link-color);
}

A.inverse:link {
	COLOR: var(--link-color-inv);
}
A.inverse:visited {
	COLOR: var(--visited-link-color-inv);
}


HR {
	border-top: 2px dashed var(--face-color);
	margin: 40px 0;
  }
LI {
	MARGIN-TOP: 0px; font-size: 15px
}
UL {
	MARGIN-TOP: 1px; MARGIN-BOTTOM: 15px
}
BLOCKQUOTE {
	MARGIN-LEFT: 6em; TEXT-INDENT: -4em
}
BLOCKQUOTE P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
#menu {
	BACKGROUND-COLOR: transparent
}
#menu A {
	DISPLAY: block; COLOR: #666666
}
#menu A:hover {
	COLOR: white; BACKGROUND-COLOR: #990000
}
#menu TD {
	PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px/15px Verdana, Lucida, Arial, sans-serif; WIDTH: 100px; COLOR: black; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#internalmenu TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 10px/15px Verdana, Lucida, Arial, sans-serif; COLOR: black; PADDING-TOP: 0px; TEXT-ALIGN: right
}
#internalmenu A {
	DISPLAY: block; COLOR: #666666
}
#content {
	CLEAR: right
}
#sidebar {
	PADDING-RIGHT: 25px; MARGIN-TOP: 0.5em; TEXT-ALIGN: right
}
#sidebar IMG {
	MARGIN: 45px 0px 5px
}
#sidebar H2 {
	FONT-WEIGHT: normal; FONT-SIZE: smaller; MARGIN: 0px
}
#primarycontent {
	LINE-HEIGHT: 1.5; PADDING-TOP: 25px
}
#footer {
	CLEAR: both; FONT-SIZE: x-small; PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
#projectlist IMG {
	PADDING-RIGHT: 10px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: middle; PADDING-TOP: 3px
}
#projectlist TABLE {
	PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-COLLAPSE: collapse; border-spacing: 0
}
#summary TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; MARGIN: 0px; BORDER-LEFT: 0px
}
#people {
	PADDING-LEFT: 10px; MARGIN-LEFT: 0px; LIST-STYLE-TYPE: none
}
DIV.abstract {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; MARGIN-TOP: 25px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.abstract PRE {
	FONT-SIZE: xx-small; MARGIN: 0px
}
DIV.abstract H2 {

}
DIV.abstract IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FLOAT: right; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
DIV.abstract LI {
	MARGIN: 0px
}
DIV.timestamp {
	DISPLAY: block; FONT-SIZE: x-small; COLOR: #999999; PADDING-TOP: 10px; BORDER-BOTTOM: #999999 1px solid; TEXT-ALIGN: right
}
.hide {
	DISPLAY: none
}
#courses TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
TD.coursename {
	FONT-WEIGHT: bolder
}

.ani-tooltip {
	color: var(--face-color);
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: help;
}
.ani-tooltip:hover, .ani-tooltip:focus, .tooltip-pseudo-hover {
	/* color: rgb(128, 255, 0); */
	/* font-weight: bold; */
	background-color: rgba(255, 255, 0, 0.25);
	text-decoration-style: solid;
}
.mm-btn {
	width: 25%;
	max-width: 160px;
	margin: auto;
	font-weight: bolder;
}
/* Override bootstrap style */
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle 
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
	background-color: #888;
	border-color: #888;
}


@media only screen and (max-width: 992px)  {
	.full {
		display:block;
		width:50%;
		align: middle;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.end-section {
	height: 0;
	margin-bottom: 1em;
}

.paragraph-skip {
	height: 0;
	margin-bottom: 3em;
}

.col-fluid {
	width: 100vw;
}

.img-container{
	margin: 5px auto;
}

.paragraph-title {
	color: var(--face-color);
	font-weight: 900;
	font-size: large;
}

.paragraph {
	text-align: left;
}

#very-long-wrapper {
	width: 100%; 
	height: 256px; 
	overflow-x: hidden; 
	overflow-y: hidden;
	text-align: left;
}

#very-long-canvas img {
	/* display: inline; */
	float: left;
	display: block;
}

/* #very-long-wrapper::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	background-color: #F5F5F5;
	opacity: 0.5;
}

#very-long-wrapper::-webkit-scrollbar
{
	height: 10px;
	background-color: #F5F5F5;
}

#very-long-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #888;
	opacity: 0.5;
} */

@media only screen and (max-width: 992px)  {
	.carousel-indicators {
		bottom: 10px;
	}
}

.carousel-indicators li,
.carousel-indicators li.active {
	height: 1vw;
	width: 5vw;
	margin-left: 10px;
	margin-right: 10px;
	opacity: 0.9;
	border-radius: 3px;
	padding-bottom: 0;
	min-height: 15px;
	min-width: 40px;
}

.carousel-control-prev, .carousel-control-next {
	opacity: 1;
}
.carousel-control-prev:hover{
	opacity: 1;
	background-image: linear-gradient(90deg, #222a , #2221);
}
.carousel-control-next:hover{
	opacity: 1;
	background-image: linear-gradient(90deg, #2221 , #222a);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 3vw;
	height: 3vw;
	filter: drop-shadow(0 0 4px black) drop-shadow(0 0 4px black) drop-shadow(0 0 4px black);
}


.carousel-indicators > li {
	cursor: default;
}

#teaser-video-container {
  
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	
	overflow: hidden;
	clip-path: 0 0;
	transform: translatez(0);
}

#teaser-video {
	transform: translatez(0);
	position: absolute;
	top: -100%;
	bottom: -100%;
	left: -100%;
	right: -100%;    
  
	margin: auto;
  
	min-width: 100%;
	min-height: 100%;

	z-index: -999;
}

.citation-ref {
	color: var(--face-color) !important;
	font-weight: bolder;
}


/* xs */
#teaser-title {
	font-size: 17px;
}
#paper-first-link {
	border-radius: 10px; 
	border: 4px double var(--face-color); 
	padding: 7px;
}
.title-wrapper {
	/* margin-top: 40vh; */
	position: relative;
	height: 100vh;
	width: 100vw;
}
.title-wrapper > div {
	position: absolute;
	left: 0;
	bottom: 0;
}
#title-wrapper-mobile > div > h1 {
	font-size: 5vw;
}
#title-wrapper-mobile > div > div.author-names {
	font-size: 2.8vw;
}
#title-wrapper-mobile > div > div.affiliations {
	font-size: 2.2vw;
}
.mm-map > img {
	width: 32.9vw;
	margin: 0;
	padding: 0.4vw;
}

/* >= sm */
@media only screen and (min-width: 768px)  {
	#teaser-title {
		font-size: 17px;
	}
	#paper-first-link {
		padding: 7px;
	}
	#title-wrapper-mobile > div {
		height: 50vh; 
	}
	#title-wrapper-mobile > div > h1 {
		font-size: 4vw;
	}
	#title-wrapper-mobile > div > div.author-names {
		font-size: 2.4vw;
	}
	#title-wrapper-mobile > div > div.affiliations {
		font-size: 1.8vw;
	}
}

/* >= md */
@media only screen and (min-width: 992px)  {
	#citation-thumbnail {
		margin-top: 8%;
	}
	#teaser-title {
		font-size: 27px;
	}
	#paper-first-link { 
		padding: 7px;
	}
}

/* >= lg */
@media only screen and (min-width: 1200px)  {
	#citation-thumbnail {
		margin-top: 0;
	}
	#teaser-title {
		font-size: 27px;
	}
	#paper-first-link {
		padding: 7px;
	}
	#desc-under-headline {
		position: absolute; 
		bottom: 0;
	}
	.mm-map > img {
		width: 16.4667vw;
		margin: 0;
		padding: 0.2vw;
	}
}
